@font-face {
  font-family: "EF_jejudoldam";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-EF@1.0/EF_jejudoldam.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

.header {
  position: sticky;
  top: 0;
  height: 70px;
  width: 100%;
  background-color: black;
  opacity: 0.3;
  display: flex;
  justify-content: center;
  align-items: center;
}


.header_list {
  list-style: none;
  display: flex;
}

.header_list li {
  font-family: "EF_jejudoldam";
  font-size: 30px;
  font-weight: 400;
  line-height: 46px;
  margin-right: 150px;
  color: #fff;
}

.header_list li:hover {
  color: orange;
}

a {
  text-decoration: none;
  color: inherit;
}