@import url("https://fonts.googleapis.com/css2?family=Jua&display=swap");

body {
  font-family: "Jua", sans-serif;
}

.header {
  top: 0;
  width: 100vw;
  justify-content: center;
  height: 70px;
  background-color: black;
  display: flex;
  width: 100vw;
  opacity: 0.3;
  z-index: -1;
}

#header-list {
  display: flex;
  width: 50vw;
  justify-content: space-evenly;
  font-size: 40px;
  color: #fff;
  opacity: 1;
  z-index: 0;
}

.header-item:hover {
  color: orange;
}

a {
  text-decoration: none;
  color: #fff;
}
