@font-face {
  font-family: "EF_jejudoldam";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-EF@1.0/EF_jejudoldam.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

.jejuBg {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 0;
  z-index: -1;
}

.logo {
  display: flex;
  font-family: "Impact";
  color: white;
  font-size: 120px;
  justify-content: center;
}

.jejuText {
  font-size: 30px;
  font-weight: 400;
  font-family: "EF_jejudoldam";
  color: white;
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 10px 10px 10px 10px;
}