@import url("https://fonts.googleapis.com/css2?family=Jua&display=swap");

body {
  font-family: "Jua", sans-serif;
  color: #000;
}

.mainpage {
  display: flex;
  width: 100vw;
  flex-direction: column;
  align-items: center;
}

.jejuBg {
  position: absolute;
  width: 100vw;
  height: 700px;
  object-fit: cover;
  top: 0;
  z-index: -1;
}

.logo {
  display: flex;
  font-size: 140px;
  justify-content: center;
  margin-top: 170px;
  opacity: 70%;
  text-shadow: 3px 3px 50 #000;
  color: #fff;
}

.jejuText {
  font-size: 30px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  text-align: center;
}

.recommend {
  margin-top: 400px;
  width: 80vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#rec-title {
  font-size: 32px;
  display: flex;
  width: 100%;
}

#rec-list {
  width: 1600px;
  height: 350px;
  background-color: #fafafa;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

#rec-list-pic {
  width: 280px;
  height: 280px;
  background-image: url(../img/Jeju_baek.svg);
  margin-left: 30px;
  background-repeat: no-repeat;
  background-size: cover;
}

#rec-list-info {
  margin-left: 30px;
}

#rec-list-name {
  font-size: 48px;
}
#rec-list-address {
  font-size: 32px;
}

#rec-list-address > a {
  color: #000;
  cursor: pointer;
  text-decoration: underline;
  margin-right: 1rem;
}

#rec-list-detail {
  width: 1600px;
  height: auto;
  background-color: #fafafa;
  border-radius: 10px;
  margin-top: 50px;
  font-size: 40px;
  text-align: center;
  margin-bottom: 100px;
}
